body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

.user_info {
  margin-top: 12px;
  text-align: center;
  font-size: 1.6em;
}

.video_screen {
  width: 100%;
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

@media only screen and (max-width: 900px) {
  .video_screen{
    flex-direction: column;
    align-items: center;
  }
}

.peer_id_input_wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.peer_id_input {
  padding: 10px;
  font-size: 17px;
  border-radius: 5px;
}

.connect_button {
  padding: 0px 20px;
  min-height: 40px;
  background-color:rgb(248, 12, 12);
  color: white;
  margin-left: 30px;
  border-radius: 5px;
}